/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

$main-color: #d32323;

$title-color: #777777;
$text-color: #8c95a3;

$positive: $main-color;

$base-color : $title-color;
$border-color: #ddd;

$border-radius-base: 0;
$button-border-radius: 0;
$button-color: #d32323;
$success-color:         #5cb85c !default;
$success-bg:			#dff0d8 !default;

$info-color:            #5bc0de !default;
$info-bg: 				#d9edf7 !default;

$warning-color:         #f0ad4e !default;
$warning-bg:  			#fcf8e3 !default;

$error-color:           #d9534f !default;
$error-bg: 				#f2dede !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

// Include theme file
@import "foodia/theme";

