<ion-view title="{{product.name}}" id="single-product" class="product-detail" hide-tabs>
    <ion-content>

        <div class="on-sale" ng-if="product.on_sale">{{$root.appLanguage.PRODUCT_SALE_TEXT}}</div>
        <!--<a class="button-info" ng-click="openModalInfo()">REVIEWS</a>-->
        <ion-slide-box class="product-images" on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-if="product.images.length > 0" class="image" ng-repeat="(key,image) in product.images">
                <img actual-src="{{ image }}" ng-class="key==0 ? 'single-main-img': ''"
                     ng-src="img/placeholder.png" alt="{{ image.title }}">
            </ion-slide>
        </ion-slide-box>

        <div class="separator"></div>

        <div class="product-meta padding text-center">
            <div class="category">Categoría</div>
            <h2 class="title" ng-bind-html="product.name"></h2>
            <hr>
            <div class="description" ng-bind-html="product.description"></div>
        </div>

        <div class="list quantity">
            <label class="item item-input item-select" ng-if="product.in_stock">
                <span class="input-label"><strong>{{$root.appLanguage.QUANTITY}}</strong></span>
                <select ng-model="productFormData.quantity">
                    <option ng-repeat="i in getProductQuanity(productQuantity)  track by $index" value="{{$index+1}}">{{$index+1}}</option>
                </select>
            </label>
        </div>

        <div class="product-price">
            <span class="title">Opciones de Pago</span>

            <ion-list>
                <ion-radio ng-if="product.price>0" ng-model="priceChoice" ng-value="'total'"
                           ng-click="optionSelected('total')">
                    {{ product.price | formatMoney }} pts
                </ion-radio>
                <ion-radio ng-if="product.plus_amount>0" ng-model="priceChoice" ng-value="'partial'"
                           ng-click="optionSelected('partial')">
                    <span ng-if="product.partial_points>0">
                        {{ product.partial_points | formatMoney }} pts
                        +
                    </span>
                    {{ product.plus_amount | formatMoney}} Gs.
                </ion-radio>

            </ion-list>

        </div>

    </ion-content>

    <ion-footer-bar>
        <button ng-class="priceChoice !== null ? '' : 'disable'" class="button button-positive" add-to-cart-button
                ng-if="product.in_stock" ng-click="addProductToCart()">{{$root.appLanguage.ADD_TO_CART_TEXT}}</button>
        <button class="button" ng-if="!product.in_stock"><strong>{{$root.appLanguage.OUT_OF_STOCK_TEXT}}</strong></button>
    </ion-footer-bar>

</ion-view>