<ion-view title="{{$root.appLanguage.CART_TEXT}}" class="cart-page" hide-tabs>
    <ion-content>
        <ion-list class="cart-list-item clearfix">
            <div class="row" ng-if="cartEmpty">
                <p>{{$root.appLanguage.YOUR_CART_IS_EMPTY_TEXT}}.</p>
            </div>
            <ion-item class="cart-item animated" id="cart_item_{{ product[0] }}-{{ product[2].price_type }}"
                      ng-repeat="product in cartInfo.products">
                <div class="product-info">
                    <div class="row">
                        <div class="col-80">
                            <div class="name">{{product[2].name}}</div>
                            <div class="warning-msg variable" ng-if="product[2].quantity!=-1 && product[1] > product[2].quantity">
                                Cantidad disponible: {{product[2].quantity}}
                            </div>
                        </div>

                        <div class="col-20 close" ng-click="removeProductFromCart(product[0], product[2].price_type)">
                            <i class="fa-lg icon ion-trash-a"></i>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-20">
                            <label class="item item-input">
                                <input type="number" min="1" value="{{product[1]}}"
                                       ng-model="cartUpdatedProduct[product[2].price_type+''+product[0]]"
                                       class="cart-item-quantity"
                                       ng-change="updateCart(product[0], product[2].price_type)">
                            </label>
                        </div>

                        <div class="col-80">
                            <div class="quantity clearfix">
                                <div class="single-price-container">
                                    <span class="amount" ng-if="product[2].price_type=='total'">
                                        {{ product[2].price | formatMoney }} pts
                                    </span>
                                    <div class="price" ng-if="product[2].price_type=='partial'">
                                        <span ng-if="product[2].partial_points>0">
                                            {{ product[2].partial_points | formatMoney }} pts
                                            +
                                        </span>
                                        {{ product[2].plus_amount | formatMoney}} Gs.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="cart-item animated row">
                <div class="count-cart col">
                    TOTAL
                </div>
                <div class="total col">
                    <span class="subtotal" ng-if="cartTotalPoints>0">
                        {{ cartTotalPoints | formatMoney  }} pts
                    </span>
                </div>
                <div class="total col">
                    <span class="subtotal" ng-if="cartTotalMoney>0">
                        {{ cartTotalMoney | formatMoney }} Gs
                    </span>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar>
        <button class="button button-positive"
                ng-class="(cartTotalPoints > 0 || cartTotalMoney > 0) ? '' : 'disable'"
                ng-click="openCheckout()">
            {{ $root.appLanguage.NEXT_TEXT }}
        </button>
    </ion-footer-bar>
</ion-view>