<ion-side-menus enable-menu-with-back-views="false" ng-if="isEnableFirstLogin() === false || isLoggedIn() === true">
    <ion-side-menu-content edge-drag-threshold="false" drag-content="false">
        <ion-nav-bar class="bar-stable is-header" align-title="center">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="right">
                <div id="shoppingcart" class="shoppingcart">
                    <a href="#/tab/cart">
                        <i class="ion-ios-cart"></i>
                        <span class="count" ng-if="$root.cartQuantity > 0">{{$root.cartQuantity}}</span>
                    </a>
                </div>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="mainContent"></ion-nav-view>

        <ion-tabs class="tabs-icon-top tabs-color-active-positive {{$root.hideTabs}}">
            <!-- Home Tab -->
            <ion-tab title="{{$root.appLanguage.HOME_TEXT}}" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
            </ion-tab>
            <!-- Categories Tab -->
            <ion-tab title="{{$root.appLanguage.CATEGORIES_TEXT}}" icon-off="ion-social-buffer-outline" icon-on="ion-social-buffer" href="#/tab/categories/all">
            </ion-tab>
            <!-- Search Tab -->
            <ion-tab title="{{$root.appLanguage.SEARCH_TEXT}}" icon-off="ion-ios-search" icon-on="ion-ios-search" href="#/tab/search">
            </ion-tab>
            <!-- Blog Tab -->
            <ion-tab title="{{$root.appLanguage.MY_ORDERS_TEXT}}" icon-off="ion-ios-cart" icon-on="ion-ios-cart" href="#/tab/blog">
            </ion-tab>
            <!--<ion-tab title="{{$root.appLanguage.BLOG_TEXT}}" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper-outline" href="#/tab/blog">
            </ion-tab>-->
        </ion-tabs>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="is-slidemenu">
        <ion-content>
            <div class="header-menu" ng-if="isLoggedIn()===false">
                <div class="row text-center">
                    <div class="col-50">
                        <a href="#" class="link login" menu-close ng-click="openModalLogin()">
                            {{$root.appLanguage.LOGIN_TEXT}}
                        </a>
                    </div>
                    <div class="col-50">
                        <a href="#" class="link register" menu-close ng-click="openModalRegister()()">
                            {{$root.appLanguage.REGISTER_TEXT}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="header-menu logged-in clearfix" ng-if="isLoggedIn()===true">
                <a href="#/tab/account" menu-toggle="left" class="avatar">
                    <img actual-src="img/logo.png" ng-src="img/placeholder.png">
                </a>
                <div class="info">
                    <span class="name" ng-bind-html="getUserDisplay()"></span>
                </div>
            </div>
            <ion-list>

                <ion-item menu-toggle="left" ng-if="isLoggedIn()===true"  href="#/tab/orders">
                    <i class="icon ion-ios-cart"></i>
                    {{$root.appLanguage.MY_ORDERS_TEXT}}
                </ion-item>

                <ion-item menu-toggle="left" href="#tab/contactus">
                    <i class="icon ion-email"></i>
                    {{$root.appLanguage.CONTACT_US_TEXT}}
                </ion-item>

                <ion-item ng-if="isLoggedIn()===true" menu-close ng-click="doLogout()" href="#/tab/home">
                    <i class="icon ion-power"></i>
                    {{$root.appLanguage.LOGOUT_TEXT}}
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
