<ion-view title="{{$root.appLanguage.BILLING_TEXT}}" class="checkout checkout-billing" hide-tabs>
    <ion-content style="background-color: #f5f5f5;">
        <ion-list>
            <div class="item item-divider">
                Datos de la persona que recibirá el producto
            </div>

            <label class="item item-input">
                <div class="input-label">
                    {{$root.appLanguage.NAME_TEXT}} *
                </div>
                <input type="text" name="name" ng-model="userInfo.billing.name">
            </label>

            <label class="item item-input">
                <div class="input-label">
                    {{$root.appLanguage.PHONE_TEXT}} *
                </div>
                <input type="text" name="phone" ng-model="userInfo.billing.phone">
            </label>

            <div class="item item-divider">
                Datos de entrega
            </div>

            <label class="item item-input">
                <div class="input-label">
                    {{$root.appLanguage.ADDRESS_TEXT}} *
                </div>
                <input type="text" name="address" ng-model="userInfo.billing.address">
            </label>

            <label class="item item-input">
                <div class="input-label">
                    {{$root.appLanguage.TOWN_CITY_TEXT}} *
                </div>
                <input type="text" name="city" ng-model="userInfo.billing.city">
            </label>

            <div class="item item-divider">
                Observaciones
            </div>

            <label class="item item-input">
                <textarea rows="10" ng-model="userInfo.billing.note" style="resize: none;"
                          placeholder="Algunas observaciones sobre el delivery, horario, etc."></textarea>
            </label>

        </ion-list>
    </ion-content>
    <ion-footer-bar>
        <button ng-click="nextStep()" class="button button-positive">{{$root.appLanguage.NEXT_TEXT}}</button>
    </ion-footer-bar>
</ion-view>