<ion-view title="Payment" class="checkout checkout-payment" hide-tabs>
    <ion-content>

        <h1 class="title">Tú Pedido</h1>
        <ion-list class="list-order-detail">
            <ion-item>
                <div class="row header">
                    <div class="col">
                        <strong>Productos</strong>
                    </div>
                    <div class="col text-right">
                        <strong>{{ $root.appLanguage.COST_TEXT }}</strong>
                    </div>
                </div>
            </ion-item>
            <ion-item id="cart_item_{{ product[0] }}" ng-repeat="product in cartInfo.products">
                <div class="row">
                    <div class="col">
                        <span class="name">{{product[2].name}}</span> <strong>x {{product[1]}}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="amount" ng-if="product[2].price_type=='total'">
                                {{ product[2].price | formatMoney }} pts
                            </span>
                        <div class="price" ng-if="product[2].price_type=='partial'">
                            <span ng-if="product[2].partial_points>0">
                            {{ product[2].partial_points | formatMoney }} pts
                            +
                            </span>
                            {{ product[2].plus_amount | formatMoney}} Gs.
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="subtotal">
                <div class="row">
                    <div class="col">
                        <strong>Total Puntos: </strong>
                    </div>
                    <div class="col text-right">
						<span class="price">
							{{ cartPointsTotal | formatMoney }} Pts
						</span>
                    </div>
                </div>
            </ion-item>

            <ion-item class="shipping">
                <div class="row">
                    <div class="col">
                        <strong>Total Guaraníes: </strong>
                    </div>
                    <div class="col text-right">
						<span class="price">
							{{ cartMoneyTotal | formatMoney }} Gs.
						</span>
                    </div>
                </div>
            </ion-item>

        </ion-list>

        <h1 class="title">Información de envío</h1>
        <ion-list>
            <ion-item>
                <div class="row">
                    <div class="col">
                        <strong>{{$root.appLanguage.NAME_TEXT}}</strong>
                    </div>
                    <div class="col text-right"> {{ userInfo.billing.name }} </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="row">
                    <div class="col">
                        <strong> {{$root.appLanguage.PHONE_TEXT}} </strong>
                    </div>
                    <div class="col text-right"> {{ userInfo.billing.phone }} </div>
                </div>

            </ion-item>

            <ion-item>
                <div class="row">
                    <div class="col">
                        <strong>{{$root.appLanguage.ADDRESS_TEXT}}</strong>
                    </div>
                    <div class="col text-right"> {{ userInfo.billing.address }} </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="row">
                    <div class="col">
                        <strong>{{$root.appLanguage.TOWN_CITY_TEXT}}</strong>
                    </div>
                    <div class="col text-right"> {{ userInfo.billing.city }} </div>
                </div>
            </ion-item>
        </ion-list>

        <div class="card">
            <div class="item item-divider">
                Observaciones
            </div>
            <div class="item item-text-wrap">
                {{ userInfo.billing.note }}
            </div>
        </div>


    </ion-content>
    <ion-footer-bar>
        <button class="button button-positive" ng-click='createOrder()'>Confirmar</button>
    </ion-footer-bar>
</ion-view>