<ion-modal-view class="modal-login is-modal">
    <ion-content>
        <div class="modal-login-box modal-forgot-login" >

            <button class="button button-close modal-close-btn" ng-click="closeModalForgotPassword()">
                <i class="icon ion-close"></i>
            </button>

            <div class="clearfix" style="margin:0;padding:0"></div>


            <img src="./img/logo.png" alt="logo" class="main-logo" />

            <form name="forgotpassForm" ng-submit="doForgotpass(forgotpassForm)" novalidate="">
                <div class="list form-action text-center">
                    <br>
                    <h3>Olvido su contraseña?</h3>
                    <p>
                        Por favor ingrese su correo electrónico.
                        Usted recibirá un enlace en su casilla para recuperar su cuenta
                    </p>
                    <br><br>
                    <label class="item item-input">
                        <input type="email" name="user_email" ng-model="forgotpassData.user_login" required placeholder="{{$root.appLanguage.EMAIL_TEXT}}">
                    </label>
                    <div class="invalid-required" ng-show="forgotpassForm.user_email.$error.required && forgotpassForm.$submitted">
                        * {{$root.appLanguage.EMAIL_TEXT}} {{$root.appLanguage.is_required_TEXT}}
                    </div>
                    <div class="invalid-required" ng-show="forgotpassForm.user_email.$error.email && forgotpassForm.$submitted">
                        * {{$root.appLanguage.EMAIL_TEXT}} no es válido
                    </div>
                    <div class="button-action">
                        <button class="button button-block button-positive button-forgot" type="submit">{{$root.appLanguage.SUBMIT_TEXT}}</button>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-modal-view>