<ion-modal-view class="modal-login">
    <ion-content>
		<img src="./img/logo.png" alt="logo" class="main-logo" />
		<div class="modal-login-box ">
			<!--<div class="social-action clearfix">
				<div class="social-fb" ng-click="doLoginWithFacebook()" style="float:none;margin:0 auto;display:block;">
					<a href="#">
						<i class="icon ion-social-facebook"></i>
						<span >{{$root.appLanguage.LOGIN_WITH}}</span>
						<span class="text">{{$root.appLanguage.FACEBOOK}}</span>
					</a>
				</div>
			</div>-->
			<form name="loginForm" ng-submit="doLogin(loginForm)" novalidate="">
				<div class="list form-action">
					<label class="item item-input">
						<input type="email" name="user_login" ng-model="loginData.user_login" required placeholder="{{$root.appLanguage.USERNAME_TEXT}}">
					</label>
					<div class="invalid-required" ng-show="loginForm.user_login.$error.required && loginForm.$submitted">* {{$root.appLanguage.USERNAME_TEXT}} / {{$root.appLanguage.EMAIL_TEXT}} {{$root.appLanguage.is_required_TEXT}}</div>
					<label class="item item-input">
						<input type="password" name="user_pass" ng-model="loginData.user_pass" placeholder="{{$root.appLanguage.PASSWORD_TEXT}}" required>
					</label>
					<div class="invalid-required" ng-show="loginForm.user_pass.$error.required && loginForm.$submitted">* {{$root.appLanguage.PASSWORD_TEXT}} {{$root.appLanguage.is_required_TEXT}}</div>
					<div class="button-action">
						<div class="forgot-password text-center" ng-click="openModalForgotPassword()">{{$root.appLanguage.FORGOT_PASSSWORD_TEXT}}</div>
						<button class="button button-block button-positive btn-login" type="submit">{{$root.appLanguage.LOGIN_TEXT}}</button>
					</div>
				</div>
			</form>
			<div class="create-user-action buttons">
				<div class="divider"></div>
				<button class="button button-block button-positive button-register" ng-click="openModalRegister()">
					{{$root.appLanguage.CREATE_ACCOUNT_TEXT}}
				</button>
			</div>
			
		</div>
    </ion-content>
</ion-modal-view>