<ion-view class="checkout checkout-success" title="Pedido recibido" hide-tabs>
    <ion-content>
        <div class="text-center message-container">
            <span class="icon ion-ios-checkmark-outline"></span>
            <p>Gracias el pedido fue recibido!</p>
        </div>
    </ion-content>
    <ion-footer-bar>
        <button ng-click="goHomePage()" class="button button-positive">Volver al inicio</button>
    </ion-footer-bar>
</ion-view>