<ion-view title="{{$root.appLanguage.MY_ORDERS_TEXT}}" class="list-order-page">
    <ion-content>
        <ion-list class="list-orders">
            <ion-item>
                <div class="row header">
                    <!--<div class="col">{{$root.appLanguage.ORDER_CODE_TEXT}}</div>-->
                    <div class="col text-center"><div class="inner">{{$root.appLanguage.DATE_TEXT}}</div></div>
                    <div class="col text-center"><div class="inner">{{$root.appLanguage.STATUS_TEXT}}</div></div>
                    <div class="col text-center">{{$root.appLanguage.POINTS_TEXT}}</div>
                    <div class="col text-center">{{$root.appLanguage.TOTAL_TEXT}}</div>
                </div>
            </ion-item>
            <ion-item ng-repeat="order in listOrderData" ng-class="order.status" ng-click="openSingleOrder(order.id)">
                <div class="row">
                    <!--<div class="col">-->
                    <!--<a class="link-detail">#{{order.id}}</a>-->
                    <!--</div>-->
                    <div class="col text-center">
                        <div class="inner">
                            <span class="date" date="{{ order.created_at | eqDateFormat:'d/MM/yy' }}"></span>
                        </div>
                    </div>
                    <div class="col text-center">
                        <div class="inner">
							<span class="status">
								{{ order.status | orderStatusToText }}
							</span>
                        </div>
                    </div>
                    <div class="col text-center">
                        <span>{{ order.total_points | formatMoney }}</span>
                    </div>
                    <div class="col text-center">
                        <span>{{ order.total_amount | formatMoney }}</span>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>