<ion-view hide-back-button="true" class="hide home-page" title="Home" show-tabs id="homeTab">
    <ion-nav-buttons side="left">
        <!-- Toggle left side menu -->
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title>
        <img class="home-logo" src="img/logo.png">
    </ion-nav-title>
    <ion-content class="has-footer">
        <ion-slide-box  class="home-slider" on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="banner in banners">
                <div class="slider-img">
                    <img actual-src="{{ banner.image }}" ng-src="img/placeholder.png" alt="">
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="ads-text">
            <div class="inner clearfix text-center">
                <div class="content">
                    Tienes <strong> {{ userInfo.points }}</strong> puntos disponibles.
                </div>
            </div>
        </div>

        <h1 class="home-title">
            {{$root.appLanguage.LATEST_PRODUCTS_TEXT}}
        </h1>

        <div class="product-list">
            <div class="product-item" ng-repeat="product in productData" ng-click="openProduct(product.id)">
                <img actual-src="{{product.images[0]}}" ng-src="img/placeholder.png">
                <div class="meta text-center">
                    <h2 class="name" ng-bind-html="product.name"></h2>
                    <div class="on-sale" ng-if="product.on_sale">{{$root.appLanguage.PRODUCT_SALE_TEXT}}</div>
                    <div class="price" ng-if="product.price>0">
                        {{ product.price | formatMoney }} pts
                    </div>
                    <div class="price" ng-if="product.plus_amount>0">
                        <span ng-if="product.partial_points>0">
                            {{ product.partial_points | formatMoney }} pts
                            +
                        </span>
                        {{ product.plus_amount | formatMoney}} Gs.
                    </div>

                    <div class="price" ng-if="product.partial_points==0">
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll
                class="active"
                immediate-check="false"
                ng-if="canLoadMoreProductData"
                on-infinite="loadMoreProductData()"
                distance="5%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>