<ion-view hide-back-button="true" class="page-search products-view" title="{{$root.appLanguage.SEARCH_TEXT}}">
	<ion-nav-buttons side="left">
		<!-- Toggle left side menu -->
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-footer" scroll="false">
		<div class="header-form-search">
			<form name="searchForm" ng-submit="doSearch(searchForm)" novalidate="">
				<div class="item-input-inset">
					<label class="item-input-wrapper">
						<input type="search" ng-model="searchFormData.keyword" name="keyword" placeholder="{{$root.appLanguage.SEARCH_HERE}}">
					</label>
					<button type="submit" class="button button-small button-positive">
						<i class="fa fa-search fa-lg"></i>
					</button>
				</div>
			</form>
		</div>
		<ion-content>
			<div class="product-list clearfix">
				<div class="product-item animated zoomIn" ng-repeat="product in searchData" ng-click="openProduct(product.id)">
					<img actual-src="{{product.images[0]}}" ng-src="img/placeholder.png">
					<div class="meta text-center">
						<h2 class="name" ng-bind-html="product.name"></h2>
						<div class="on-sale" ng-if="product.on_sale">{{$root.appLanguage.PRODUCT_SALE_TEXT}}</div>
						<div class="price" ng-if="product.price>0">
							{{ product.price | formatMoney }} pts
						</div>
						<div class="price" ng-if="product.plus_amount>0">
                        <span ng-if="product.partial_points>0">
                            {{ product.partial_points | formatMoney }} pts
                            +
                        </span>
							{{ product.plus_amount | formatMoney}} Gs.
						</div>

						<div class="price" ng-if="product.partial_points==0">
							<br>
						</div>
					</div>
				</div>
			</div>
			<ion-infinite-scroll
				ng-if="canLoadMoreSearchData"
				on-infinite="loadMoreSearchData()"
				distance="5%">
			</ion-infinite-scroll>
		</ion-content>
	</ion-content>
</ion-view>
