<ion-view title="{{$root.appLanguage.ORDER_TEXT}} #{{ order.id }}" class="single-order-page" hide-tabs>
    <ion-content>
        <h1 class="title">Detalle del pedido</h1>
        <ion-list>
            <ion-item ng-repeat="item in order.detail">
                <div class="row">
                    <div class="col-75">
                        <strong class="name">{{item.name}}</strong> <br>
                        x <span class="quantity">{{item.quantity}}</span>
                    </div>
                    <div class="col-25 text-right">
                        <span class="price" ng-if="item.points_used>0">
                            {{ item.points_used | formatMoney }} pts
                        </span>
                        <span class="price" ng-if="item.plus_amount>0">
                            {{ item.plus_amount | formatMoney }} Gs.
                        </span>
                    </div>
                </div>
            </ion-item>

            <ion-item class="discount" ng-if="order.total_amount>0">
                <div class="row">
                    <div class="col-50">
                        <strong>Total (Gs)</strong>
                    </div>
                    <div class="col-50 text-right">
                        <strong class="price">
                            {{ order.total_amount | formatMoney }}
                        </strong>
                    </div>
                </div>
            </ion-item>
            <ion-item class="total" ng-if="order.total_points>0">
                <div class="row">
                    <div class="col-50">
                        <strong>{{$root.appLanguage.TOTAL_TEXT}} (pts)</strong>
                    </div>
                    <div class="col-50 text-right">
                        <strong class="price">
                            {{ order.total_points | formatMoney }}
                        </strong>
                    </div>
                </div>
            </ion-item>
        </ion-list>

        <h1 class="title">
            {{ $root.appLanguage.SHIPPING_TEXT }}
        </h1>

        <ion-list>
            <ion-item>
                <div class="row">
                    <div class="col-50">
                        <strong>{{ $root.appLanguage.NAME_TEXT }}:</strong>
                    </div>
                    <div class="col-50 text-right">
                        {{ order.shipping_to }}
                    </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="row">
                    <div class="col-50">
                        <strong>{{$root.appLanguage.PHONE_TEXT}}:</strong>
                    </div>
                    <div class="col-50 text-right">
                        {{ order.shipping_phone }}
                    </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="row">
                    <div class="col-50">
                        <strong>{{$root.appLanguage.ADDRESS_TEXT}}:</strong>
                    </div>
                    <div class="col-50 text-right">
                        {{ order.shipping_address }}
                    </div>
                </div>
            </ion-item>

            <ion-item>
                <div class="row">
                    <div class="col-50">
                        <strong>{{$root.appLanguage.TOWN_CITY_TEXT}}:</strong>
                    </div>
                    <div class="col-50 text-right">
                        {{ order.shipping_city }}
                    </div>
                </div>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>