<ion-view hide-back-button="true" title="{{pageTitle}}">
    <ion-nav-buttons side="left">
        <!-- Toggle left side menu -->
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-footer blog-container">

        <div class="blog-list clearfix">
            <ion-refresher
                    pulling-text="Pull to refresh..."
                    on-refresh="refreshData()">
            </ion-refresher>
            <div class="blog-item clearfix" ng-repeat="blog in blogData">
                <div class="blog-content">
                    <div class="title" ng-bind-html="blog.title" ng-click="openBlog(blog.id)"></div>
                    <div class="post-meta">
                        <span>{{blog.created_at}} - {{blog.author}}</span>
                    </div>
                    <div class="post-excerpt" ng-bind-html="blog.description"></div>
                </div>
                <div class="blog-action">
                    <div ng-click="openBlog(blog.id)">
                        {{$root.appLanguage.READ_MORE}} <i class="icon ion-chatbubble"></i>
                    </div>
                </div>
            </div>
            <ion-infinite-scroll
                    ng-if="canLoadMoreData"
                    on-infinite="loadMoreData()"
                    distance="5%">
            </ion-infinite-scroll>
        </div>

    </ion-content>
</ion-view>