<ion-view class="contact-us-page" title="{{$root.appLanguage.CONTACT_US_TEXT}}" hide-tabs>
	<ion-content scroll="false">

		<div class="mapWrap" data-tap-disabled="true">
			<map center="{{info_position}}" zoom="{{zoomLevel}}">

				<marker ng-repeat="shop in shops" position="{{shop.latitude +','+shop.longitude }}"
						title="{{shop.name}}"
						on-click="showWindow(event, $index)" id="{{$index}}">

				</marker>

				<info-window id="marker-info" visible="false" visible-on-marker="{{$index}}">
					<div ng-non-bindable="">
						<h5 class="title">{{ selectedShop.name}}</h5>
						<div class="content" ng-bind-html="trustAsHtml(selectedShop.html)"></div>
					</div>
				</info-window>
			</map>
		</div>

	</ion-content>
	<ion-footer-bar>
		<button class="button button-balanced" ng-click="callPhone(selectedShop.phone);">
			<i class="ion-ios-telephone"></i>
			LLamar
		</button>
		<button class="button button-calm button-right" ng-click="sendMail(selectedShop.email);">
			<i class="ion-ios-email"></i>
			Enviar Correo
		</button>
	</ion-footer-bar>
</ion-view>