<ion-view title="{{categoryName}}" class="products-view">
	<ion-content class="has-footer">
		<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="refreshCategoryData()">
		</ion-refresher>
		<div class="product-list clearfix">
			<div class="product-item animated zoomIn" ng-repeat="product in categoryData" ng-click="openProduct(product.id)">
				<img actual-src="{{product.images[0]}}" ng-src="img/placeholder.png">

				<div class="meta text-center">
					<h2 class="name" ng-bind-html="product.name"></h2>
					<div class="on-sale" ng-if="product.on_sale">{{$root.appLanguage.PRODUCT_SALE_TEXT}}</div>
					<div class="price" ng-if="product.price>0">
						{{ product.price | formatMoney }} pts
					</div>
					<div class="price" ng-if="product.partial_points>0 && product.plus_amount>0">
						{{ product.partial_points | formatMoney }} pts
						+
						{{ product.plus_amount | formatMoney}} Gs.
					</div>

					<div class="price" ng-if="product.partial_points==0">
						<br>
					</div>
				</div>

			</div>
		</div>
		<ion-infinite-scroll
			ng-if="canLoadMoreCategoryData"
			on-infinite="loadMoreCategoryData()"
			distance="5%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>