<ion-view title="{{pageTitle}}">
    <ion-nav-buttons side="left">
        <!-- Toggle left side menu -->
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-footer">
        <div class="category-list clearfix">
            <!--<div class="col">-->
            <!--<div class="category-item clearfix top-item animated zoomIn">-->
            <!--<div class="image">-->
            <!--<img actual-src="img/product/category-top.png" ng-src="img/placeholder.png">-->
            <!--</div>-->
            <!--<div class="title" >TODAY</div>-->
            <!--</div>-->
            <!--</div>-->

            <ion-refresher on-refresh="doRefresh()"></ion-refresher>

            <div class="row">
                <div class="col col-50" ng-repeat="category in categoryData">
                    <div class="category-item clearfix animated zoomIn" ng-click="openCategory(category.id)">
                        <div class="image">
                            <img actual-src="{{category.image}}" ng-src="img/placeholder.png">
                        </div>
                        <div class="title" ng-bind-html="category.name"></div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>