<ion-modal-view class="modal-register is-modal">
    <ion-content>

        <button class="button button-close modal-close-btn" ng-click="closeModalRegister()">
            <i class="icon ion-close"></i>
        </button>

        <div class="clearfix" style="margin:0;padding:0"></div>

        <img src="./img/logo.png" alt="logo" class="main-logo" />

        <div class="modal-login-box">
            <div class="social-action clearfix">
                <div class="social-fb" ng-click="doLoginWithFacebook()" style="float:none;margin:0 auto;display:block;">
                    <a href="#">
                        <i class="icon ion-social-facebook"></i>
                        <span >{{$root.appLanguage.LOGIN_WITH}}</span>
                        <span class="text">{{$root.appLanguage.FACEBOOK}}</span>
                    </a>
                </div>
            </div>
            <form name="registerForm" ng-submit="doRegister(registerForm)" novalidate="">
                <div class="list form-action">
                    <label class="item item-input">
                        <input type="email" name="user_email" ng-model="registerData.user_email" placeholder="{{$root.appLanguage.EMAIL_TEXT}}" required>
                    </label>
                    <div class="invalid-required" ng-show="registerForm.user_email.$error.required && registerForm.$submitted">
                        * {{$root.appLanguage.EMAIL_TEXT}} {{$root.appLanguage.is_required_TEXT}}
                    </div>
                    <div class="invalid-required" ng-show="registerForm.user_email.$error.email && registerForm.$submitted">
                        * {{$root.appLanguage.EMAIL_TEXT}} no es correcto
                    </div>
                    <label class="item item-input">
                        <input type="password" name="user_pass" ng-model="registerData.user_pass" placeholder="{{$root.appLanguage.PASSWORD_TEXT}}" required>
                    </label>
                    <div class="invalid-required" ng-show="registerForm.user_pass.$error.required && registerForm.$submitted">
                        * {{$root.appLanguage.PASSWORD_TEXT}} {{$root.appLanguage.is_required_TEXT}}
                    </div>
                    <label class="item item-input">
                        <input type="password" name="user_confirmpass" ng-model="registerData.user_confirmpass" placeholder="Confirmar contraseña" required>
                    </label>
                    <div class="invalid-required" ng-show="registerForm.user_confirmpass.$error.required && registerForm.$submitted">
                        * Vuelva a escribir su {{$root.appLanguage.is_required_TEXT}}
                    </div>
                    <label class="item item-input">
                        <input type="text" name="name" ng-model="registerData.name" placeholder="{{$root.appLanguage.NAME_TEXT}}" required>
                    </label>
                    <div class="invalid-required" ng-show="registerForm.name.$error.required && registerForm.$submitted">
                        * {{$root.appLanguage.NAME_TEXT}} {{$root.appLanguage.is_required_TEXT}}
                    </div>
                    <label class="item item-input">
                        <input type="text" name="phone" ng-model="registerData.phone" placeholder="{{$root.appLanguage.PHONE_TEXT}}" required>
                    </label>
                    <div class="invalid-required" ng-show="registerForm.name.$error.required && registerForm.$submitted">
                        * {{$root.appLanguage.PHONE_TEXT}} {{$root.appLanguage.is_required_TEXT}}
                    </div>

                    <label class="item item-input">
                        <input type="text" name="dni" ng-model="registerData.dni" placeholder="CI/RUC" required>
                    </label>
                    <div class="invalid-required" ng-show="registerForm.name.$error.required && registerForm.$submitted">
                        * CI/RUC {{$root.appLanguage.is_required_TEXT}}
                    </div>
                    <div class="buttons">
                        <button class="button button-block button-positive">{{$root.appLanguage.REGISTER_TEXT}}</button>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-modal-view>