.main-logo{
    max-width:200px;
    display:block;
    margin:0 auto;
}

.tab-item .icon {
    margin-top: 5px!important;
}

.home-page .home-title {
    margin: 15px 0 15px 5px!important;
}

.product-list {
    padding: 10px 8px!important;
}

.product-list .product-item .price{
    text-align: center!important;
}

.separator{
    width:100%;
    height:20px;
    margin:0;
    background-color: #eee;
}

.or-text{
    color: #bbbbbb;
    font-weight:bold;
    display: block;
    font-size:16px;
    margin:10px;
}

.product-detail .product-price span.title {
    font-size: 20px;
    font-weight: bold;
}

.product-detail .category {
    font-size: 20px;
    font-weight: bold;
}

.product-detail .bar-footer button {
    font-weight:bold!important;
}

.button.button-positive{
    font-weight:bold!important;
}

ion-content {
    /*background-color: #f5f5f5;*/
}

.warning-msg{
    font-weight: bold;
    color: red;
}
.forgot-password{
    float:none!important;
}

.cart-page .cart-list-item .cart-item .product-info .quantity{
    display: block;
    width: auto;
    text-align: right;
}
.cart-page .cart-list-item .cart-item .product-info .item-input input{
    color:#000;
    text-align: center;
    border: 1px solid #ccc;
    font-weight:bold;
}
.cart-page .cart-list-item .cart-item .row {
    padding-bottom: 5px;
}
.cart-page .cart-list-item .cart-item .close{
    top:auto;
}
.message-container{
    height:100vh;
    width:100%;
    padding-top:30vh;
}
.message-container > *{
    font-weight:bold;
    color: #aaa;
    font-size:22px;
}
.message-container > span{
    font-size: 10em;
}
.modal-forgot-login .buttons{
    margin: 0!important;
    text-align: right!important;
}
.modal-forgot-login .buttons .button.button-close{
    margin:0!important;
    margin-bottom: 40px!important;

}
.modal-forgot-login .buttons .button.button-close > i{
    float: right;
}
.modal-close-btn{
    float: right;
    background: transparent;
    color: #FFF;
    border: none;
}
ion-footer-bar button.button{
    width:100%!important;
}